
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--header_color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary_two);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary_one);
}